<html>
<head>
  <title>Friends</title>
</head>
<body>
  <!-- we can use the line below to see all of our data in our template -->
  {{ all_friends }}
  <h1>These are all my friends!</h1>
  <table>
  <tr>
        <td><p>First_name</p></td>
        <td><p>Last_name</p></td>
        <td><p>Since</p></td>
      </tr>
    <!-- with all the data we can then construct a more structured output -->
    {% for friend in all_friends: %}
      <tr>
        <td>{{ friend['first_name'] }}</td>
        <td>{{ friend['last_name'] }}</td>
        <td>{{ friend['since'] }}</td>
      </tr>
    {% endfor %}
  </table>
  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
    <input type="submit" value="Add">
  </form>
</body>
</html>
